
(% extends "layout.html" %)

(% block content %)

        <div class="container-fluid">
            <br>
            <br>
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm text-center">
                  <h2>Conversion Drag and Drop</h2>
              </div>
              <div class="col-sm"></div>
            </div>

            <br>
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm">
                      <p>
                        Drag and drop mzXML/mzML/ThermoRaw files here to upload files to convert.
                      </p>
              </div>
              <div class="col-sm"></div>
            </div>

            <hr>

            <div class="row">
                <div class="dropzone col-md" id="group1">
                    <div class="dz-message">Drop files here or click to upload<br>
                    </div>
                </div>
            </div>

            <button onclick="myFunction()">Click me</button>

        </div>

        <script>
            group1dropzone = new Dropzone("#group1", { url: "upload1", maxFilesize: 200, parallelUploads:100, timeout: 300000});
            group1dropzone.on("sending", function(file, xhr, data) {
                if(file.fullPath){
                    data.append("fullPath", file.fullPath);
                }
            });

            function myFunction(){
                $.ajax(
                    {
                        url: "/convert",
                        success: function(result){
                            alert(result);
                        }
                    }
                );
            }
        </script>


(% endblock %)
